# Set the path to prepend to all rewrites.
RewriteBase /ajko/books/informatics-teaching-guide

# If we're processing a path that isn't a real file or a directory, rewrite to index but preserve the query string.
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule (.*) index.html [L,QSA]